<%= form_with(model: docente, local: true) do |form| %>
  <% if docente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(docente.errors.count, "error") %> prohibited this docente from being saved:</h2>

      <ul>
      <% docente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :ci %>
    <%= form.text_field :ci %>
  </div>

  <div class="field">
    <%= form.label :apellidopaterno %>
    <%= form.text_field :apellidopaterno %>
  </div>

  <div class="field">
    <%= form.label :apellidomaterno %>
    <%= form.text_field :apellidomaterno %>
  </div>

  <div class="field">
    <%= form.label :whatsapp %>
    <%= form.text_field :whatsapp %>
  </div>

  <div class="field">
    <%= form.label :telefonofijo %>
    <%= form.text_field :telefonofijo %>
  </div>

  <div class="field">
    <%= form.label :area %>
    <%= form.text_field :area %>
  </div>

  <div class="field">
    <%= form.label :sexo %>
    <%= form.text_field :sexo %>
  </div>

  <div class="field">
    <%= form.label :nacionalidad %>
    <%= form.text_field :nacionalidad %>
  </div>

  <div class="field">
    <%= form.label :profesion %>
    <%= form.text_field :profesion %>
  </div>

  <div class="field">
    <%= form.label :acercade %>
    <%= form.text_area :acercade %>
  </div>

  <div class="field">
    <%= form.label :referencias %>
    <%= form.text_field :referencias %>
  </div>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label :lugardenacimiento %>
    <%= form.text_field :lugardenacimiento %>
  </div>

  <div class="field">
    <%= form.label :estadocivil %>
    <%= form.text_field :estadocivil %>
  </div>

  <div class="field">
    <%= form.label :foto %>
    <%= form.text_field :foto %>
  </div>

  <div class="field">
    <%= form.label :salarioporhora %>
    <%= form.text_field :salarioporhora %>
  </div>

  <div class="field">
    <%= form.label :observaciones %>
    <%= form.text_area :observaciones %>
  </div>

  <div class="field">
    <%= form.label :fechaingreso %>
    <%= form.date_select :fechaingreso %>
  </div>

  <div class="field">
    <%= form.label :sueldobasico %>
    <%= form.text_field :sueldobasico %>
  </div>

  <div class="field">
    <%= form.label :modalidadcontrato %>
    <%= form.text_field :modalidadcontrato %>
  </div>

  <div class="field">
    <%= form.label :fechafinalizacion %>
    <%= form.date_select :fechafinalizacion %>
  </div>

  <div class="field">
    <%= form.label :lunes %>
    <%= form.check_box :lunes %>
  </div>

  <div class="field">
    <%= form.label :martes %>
    <%= form.check_box :martes %>
  </div>

  <div class="field">
    <%= form.label :miercoles %>
    <%= form.check_box :miercoles %>
  </div>

  <div class="field">
    <%= form.label :jueves %>
    <%= form.check_box :jueves %>
  </div>

  <div class="field">
    <%= form.label :viernes %>
    <%= form.check_box :viernes %>
  </div>

  <div class="field">
    <%= form.label :sabado %>
    <%= form.check_box :sabado %>
  </div>

  <div class="field">
    <%= form.label :domingo %>
    <%= form.check_box :domingo %>
  </div>

  <div class="field">
    <%= form.label :horariodetrabajo %>
    <%= form.text_field :horariodetrabajo %>
  </div>

  <div class="field">
    <%= form.label :horaspordia %>
    <%= form.number_field :horaspordia %>
  </div>

  <div class="field">
    <%= form.label :formadepago %>
    <%= form.text_field :formadepago %>
  </div>

  <div class="field">
    <%= form.label :nombrebanco %>
    <%= form.text_field :nombrebanco %>
  </div>

  <div class="field">
    <%= form.label :cuentabancaria %>
    <%= form.text_field :cuentabancaria %>
  </div>

  <div class="field">
    <%= form.label :bonodetransporte %>
    <%= form.text_field :bonodetransporte %>
  </div>

  <div class="field">
    <%= form.label :bonodedesempeno %>
    <%= form.text_field :bonodedesempeno %>
  </div>

  <div class="field">
    <%= form.label :bonodeantiguedad %>
    <%= form.text_field :bonodeantiguedad %>
  </div>

  <div class="field">
    <%= form.label :otrosbonos %>
    <%= form.text_field :otrosbonos %>
  </div>

  <div class="field">
    <%= form.label :costoporhoraextra %>
    <%= form.text_field :costoporhoraextra %>
  </div>

  <div class="field">
    <%= form.label :costoporhora %>
    <%= form.text_field :costoporhora %>
  </div>

  <div class="field">
    <%= form.label :facebook %>
    <%= form.text_field :facebook %>
  </div>

  <div class="field">
    <%= form.label :skype %>
    <%= form.text_field :skype %>
  </div>

  <div class="field">
    <%= form.label :twitter %>
    <%= form.text_field :twitter %>
  </div>

  <div class="field">
    <%= form.label :linkedin %>
    <%= form.text_field :linkedin %>
  </div>

  <div class="field">
    <%= form.label :medioatencion %>
    <%= form.text_field :medioatencion %>
  </div>

  <div class="field">
    <%= form.label :faseCRM %>
    <%= form.text_field :faseCRM %>
  </div>

  <div class="field">
    <%= form.label :urlcurriculum %>
    <%= form.text_field :urlcurriculum %>
  </div>

  <div class="field">
    <%= form.label :urlcontrato %>
    <%= form.text_field :urlcontrato %>
  </div>

  <div class="field">
    <%= form.label :cuentasueldopp %>
    <%= form.number_field :cuentasueldopp %>
  </div>

  <div class="field">
    <%= form.label :cuentasueldopagado %>
    <%= form.number_field :cuentasueldopagado %>
  </div>

  <div class="field">
    <%= form.label :cuentasueldoanticip %>
    <%= form.number_field :cuentasueldoanticip %>
  </div>

  <div class="field">
    <%= form.label :cuentaprevaguinaldo %>
    <%= form.number_field :cuentaprevaguinaldo %>
  </div>

  <div class="field">
    <%= form.label :cuentaporinformar %>
    <%= form.number_field :cuentaporinformar %>
  </div>

  <div class="field">
    <%= form.label :cuentaporcobrar %>
    <%= form.number_field :cuentaporcobrar %>
  </div>

  <div class="field">
    <%= form.label :cuentaporpagar %>
    <%= form.number_field :cuentaporpagar %>
  </div>

  <div class="field">
    <%= form.label :cuentaliquidacion %>
    <%= form.number_field :cuentaliquidacion %>
  </div>

  <div class="field">
    <%= form.label :cuentavacaciones %>
    <%= form.number_field :cuentavacaciones %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.check_box :estado %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
