<p id="notice"><%= notice %></p>

<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>



<div class="container jumbotron">

  <h1 class="text-center">Docentes</h1>
  <input id="myInput" type="text" placeholder="Buscar..">
<br><br>
  <table class="table table-striped">
    <thead>
      <tr>
      <th>Nombre</th>
      <th>Apellidopaterno</th>
      <th>Apellidomaterno</th>
      <th>Ci</th>
      <th>Whatsapp</th>
      <th>Telefonofijo</th>
      <th>Sexo</th>
      <th>Nacionalidad</th>
      <th>Estado</th>
      <th colspan="3"></th>
      </tr>
    </thead>
    <tbody id="myTable">
      <tr>
      <% @docentes.each do |docente| %>
        <tr>
          <td><%= docente.nombre %></td>
          <td><%= docente.apellidopaterno %></td>
          <td><%= docente.apellidomaterno %></td>
          <td><%= docente.ci %></td>
          <td><%= docente.whatsapp %></td>
          <td><%= docente.telefonofijo %></td>
          <td><%= docente.sexo %></td>
          <td><%= docente.nacionalidad %></td>
          <td><%= docente.estado %></td>
          <td><%= link_to 'Mostrar', docente, class: "btn btn-primary btn-sm" %>
          <td><%= link_to 'Editar', edit_docente_path(docente) ,class: "btn btn-warning btn-sm" %></td>
          <td><%= link_to 'Eliminar', docente,class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
        </tr>
      <% end %>
      </tr>
    </tbody>
  </table>
  <br>

  <%= link_to 'Nuevo Docente', new_docente_path,class: "btn btn-success" %>
</div>
