<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @docente.nombre %>
</p>

<p>
  <strong>Ci:</strong>
  <%= @docente.ci %>
</p>

<p>
  <strong>Apellidopaterno:</strong>
  <%= @docente.apellidopaterno %>
</p>

<p>
  <strong>Apellidomaterno:</strong>
  <%= @docente.apellidomaterno %>
</p>

<p>
  <strong>Whatsapp:</strong>
  <%= @docente.whatsapp %>
</p>

<p>
  <strong>Telefonofijo:</strong>
  <%= @docente.telefonofijo %>
</p>

<p>
  <strong>Area:</strong>
  <%= @docente.area %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @docente.sexo %>
</p>

<p>
  <strong>Nacionalidad:</strong>
  <%= @docente.nacionalidad %>
</p>

<p>
  <strong>Profesion:</strong>
  <%= @docente.profesion %>
</p>

<p>
  <strong>Acercade:</strong>
  <%= @docente.acercade %>
</p>

<p>
  <strong>Referencias:</strong>
  <%= @docente.referencias %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @docente.titulo %>
</p>

<p>
  <strong>Lugardenacimiento:</strong>
  <%= @docente.lugardenacimiento %>
</p>

<p>
  <strong>Estadocivil:</strong>
  <%= @docente.estadocivil %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @docente.foto %>
</p>

<p>
  <strong>Salarioporhora:</strong>
  <%= @docente.salarioporhora %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @docente.observaciones %>
</p>

<p>
  <strong>Fechaingreso:</strong>
  <%= @docente.fechaingreso %>
</p>

<p>
  <strong>Sueldobasico:</strong>
  <%= @docente.sueldobasico %>
</p>

<p>
  <strong>Modalidadcontrato:</strong>
  <%= @docente.modalidadcontrato %>
</p>

<p>
  <strong>Fechafinalizacion:</strong>
  <%= @docente.fechafinalizacion %>
</p>

<p>
  <strong>Lunes:</strong>
  <%= @docente.lunes %>
</p>

<p>
  <strong>Martes:</strong>
  <%= @docente.martes %>
</p>

<p>
  <strong>Miercoles:</strong>
  <%= @docente.miercoles %>
</p>

<p>
  <strong>Jueves:</strong>
  <%= @docente.jueves %>
</p>

<p>
  <strong>Viernes:</strong>
  <%= @docente.viernes %>
</p>

<p>
  <strong>Sabado:</strong>
  <%= @docente.sabado %>
</p>

<p>
  <strong>Domingo:</strong>
  <%= @docente.domingo %>
</p>

<p>
  <strong>Horariodetrabajo:</strong>
  <%= @docente.horariodetrabajo %>
</p>

<p>
  <strong>Horaspordia:</strong>
  <%= @docente.horaspordia %>
</p>

<p>
  <strong>Formadepago:</strong>
  <%= @docente.formadepago %>
</p>

<p>
  <strong>Nombrebanco:</strong>
  <%= @docente.nombrebanco %>
</p>

<p>
  <strong>Cuentabancaria:</strong>
  <%= @docente.cuentabancaria %>
</p>

<p>
  <strong>Bonodetransporte:</strong>
  <%= @docente.bonodetransporte %>
</p>

<p>
  <strong>Bonodedesempeno:</strong>
  <%= @docente.bonodedesempeno %>
</p>

<p>
  <strong>Bonodeantiguedad:</strong>
  <%= @docente.bonodeantiguedad %>
</p>

<p>
  <strong>Otrosbonos:</strong>
  <%= @docente.otrosbonos %>
</p>

<p>
  <strong>Costoporhoraextra:</strong>
  <%= @docente.costoporhoraextra %>
</p>

<p>
  <strong>Costoporhora:</strong>
  <%= @docente.costoporhora %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @docente.facebook %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @docente.skype %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @docente.twitter %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @docente.linkedin %>
</p>

<p>
  <strong>Medioatencion:</strong>
  <%= @docente.medioatencion %>
</p>

<p>
  <strong>Fasecrm:</strong>
  <%= @docente.faseCRM %>
</p>

<p>
  <strong>Urlcurriculum:</strong>
  <%= @docente.urlcurriculum %>
</p>

<p>
  <strong>Urlcontrato:</strong>
  <%= @docente.urlcontrato %>
</p>

<p>
  <strong>Cuentasueldopp:</strong>
  <%= @docente.cuentasueldopp %>
</p>

<p>
  <strong>Cuentasueldopagado:</strong>
  <%= @docente.cuentasueldopagado %>
</p>

<p>
  <strong>Cuentasueldoanticip:</strong>
  <%= @docente.cuentasueldoanticip %>
</p>

<p>
  <strong>Cuentaprevaguinaldo:</strong>
  <%= @docente.cuentaprevaguinaldo %>
</p>

<p>
  <strong>Cuentaporinformar:</strong>
  <%= @docente.cuentaporinformar %>
</p>

<p>
  <strong>Cuentaporcobrar:</strong>
  <%= @docente.cuentaporcobrar %>
</p>

<p>
  <strong>Cuentaporpagar:</strong>
  <%= @docente.cuentaporpagar %>
</p>

<p>
  <strong>Cuentaliquidacion:</strong>
  <%= @docente.cuentaliquidacion %>
</p>

<p>
  <strong>Cuentavacaciones:</strong>
  <%= @docente.cuentavacaciones %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @docente.estado %>
</p>

<%= link_to 'Edit', edit_docente_path(@docente) %> |
<%= link_to 'Back', docentes_path %>
