<p id="notice"><%= notice %></p>

<h1>Propuesta</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Nombre</th>
      <th>Acerca</th>
      <th>Wpp</th>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>Tema1</th>
      <th>Tema2</th>
      <th>Tema3</th>
      <th>Tema4</th>
      <th>Tema5</th>
      <th>Tema6</th>
      <th>Tema7</th>
      <th>Tema8</th>
      <th>Tema10</th>
      <th>Dirigidoa</th>
      <th>Fechas</th>
      <th>Horarios</th>
      <th>Duracion</th>
      <th>Incluira</th>
      <th>Materiales</th>
      <th>Curriculum</th>
      <th>Acuerdo</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>
  <tbody>
    <% @propuesta.each do |propuestum| %>
      <tr>
        <td><%= propuestum.email %></td>
        <td><%= propuestum.nombre %></td>
        <td><%= propuestum.acerca %></td>
        <td><%= propuestum.wpp %></td>
        <td><%= propuestum.titulo %></td>
        <td><%= propuestum.descripcion %></td>
        <td><%= propuestum.tema1 %></td>
        <td><%= propuestum.tema2 %></td>
        <td><%= propuestum.tema3 %></td>
        <td><%= propuestum.tema4 %></td>
        <td><%= propuestum.tema5 %></td>
        <td><%= propuestum.tema6 %></td>
        <td><%= propuestum.tema7 %></td>
        <td><%= propuestum.tema8 %></td>
        <td><%= propuestum.tema10 %></td>
        <td><%= propuestum.dirigidoA %></td>
        <td><%= propuestum.fechas %></td>
        <td><%= propuestum.horarios %></td>
        <td><%= propuestum.duracion %></td>
        <td><%= propuestum.incluira %></td>
        <td><%= propuestum.materiales %></td>
        <td><%= propuestum.curriculum %></td>
        <td><%= propuestum.acuerdo %></td>
        <td><%= link_to 'Show', propuestum %></td>
        <td><%= link_to 'Edit', edit_propuestum_path(propuestum) %></td>
        <td><%= link_to 'Destroy', propuestum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<%= link_to 'New Propuestum', new_propuestum_path %>
