<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @propuestum.email %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @propuestum.nombre %>
</p>

<p>
  <strong>Acerca:</strong>
  <%= @propuestum.acerca %>
</p>

<p>
  <strong>Wpp:</strong>
  <%= @propuestum.wpp %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @propuestum.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @propuestum.descripcion %>
</p>

<p>
  <strong>Tema1:</strong>
  <%= @propuestum.tema1 %>
</p>

<p>
  <strong>Tema2:</strong>
  <%= @propuestum.tema2 %>
</p>

<p>
  <strong>Tema3:</strong>
  <%= @propuestum.tema3 %>
</p>

<p>
  <strong>Tema4:</strong>
  <%= @propuestum.tema4 %>
</p>

<p>
  <strong>Tema5:</strong>
  <%= @propuestum.tema5 %>
</p>

<p>
  <strong>Tema6:</strong>
  <%= @propuestum.tema6 %>
</p>

<p>
  <strong>Tema7:</strong>
  <%= @propuestum.tema7 %>
</p>

<p>
  <strong>Tema8:</strong>
  <%= @propuestum.tema8 %>
</p>

<p>
  <strong>Tema10:</strong>
  <%= @propuestum.tema10 %>
</p>

<p>
  <strong>Dirigidoa:</strong>
  <%= @propuestum.dirigidoA %>
</p>

<p>
  <strong>Fechas:</strong>
  <%= @propuestum.fechas %>
</p>

<p>
  <strong>Horarios:</strong>
  <%= @propuestum.horarios %>
</p>

<p>
  <strong>Duracion:</strong>
  <%= @propuestum.duracion %>
</p>

<p>
  <strong>Incluira:</strong>
  <%= @propuestum.incluira %>
</p>

<p>
  <strong>Materiales:</strong>
  <%= @propuestum.materiales %>
</p>

<p>
  <strong>Curriculum:</strong>
  <%= @propuestum.curriculum %>
</p>

<p>
  <strong>Acuerdo:</strong>
  <%= @propuestum.acuerdo %>
</p>

<%= link_to 'Edit', edit_propuestum_path(@propuestum) %> |
<%= link_to 'Back', propuesta_path %>
