<p id="notice"><%= notice %></p>

<p>
  <strong>Ci:</strong>
  <%= @participante.ci %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @participante.nombre %>
</p>

<p>
  <strong>Apellidop:</strong>
  <%= @participante.apellidoP %>
</p>

<p>
  <strong>Apellidom:</strong>
  <%= @participante.apellidoM %>
</p>

<p>
  <strong>Numwpp:</strong>
  <%= @participante.numWpp %>
</p>

<p>
  <strong>Numfijo:</strong>
  <%= @participante.numFijo %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @participante.direccion %>
</p>

<p>
  <strong>Fecnacimiento:</strong>
  <%= @participante.fecNacimiento %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @participante.latitud %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @participante.longitud %>
</p>

<p>
  <strong>Nit:</strong>
  <%= @participante.nit %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @participante.empresa %>
</p>

<p>
  <strong>Teloficina:</strong>
  <%= @participante.teloficina %>
</p>

<p>
  <strong>Rubro:</strong>
  <%= @participante.rubro %>
</p>

<p>
  <strong>Email:</strong>
  <%= @participante.email %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @participante.cargo %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @participante.sexo %>
</p>

<p>
  <strong>Nacionalidad:</strong>
  <%= @participante.nacionalidad %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @participante.professor %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @participante.categoria %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @participante.ciudad %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @participante.pais %>
</p>

<p>
  <strong>Sitioweb:</strong>
  <%= @participante.sitioweb %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @participante.facebook %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @participante.skype %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @participante.twitter %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @participante.linkedin %>
</p>

<p>
  <strong>Medioatecion:</strong>
  <%= @participante.medioatecion %>
</p>

<p>
  <strong>Fasecrm:</strong>
  <%= @participante.faseCRM %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @participante.responsable %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @participante.observaciones %>
</p>

<p>
  <strong>Email:</strong>
  <%= @participante.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @participante.password %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @participante.estado %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @participante.foto %>
</p>

<%= link_to 'Edit', edit_participante_path(@participante) %> |
<%= link_to 'Back', participantes_path %>
